@charset "UTF-8";
/*
Theme Name: Incomda Three Blue
Theme URI: http://sapacloud.com/incomda-three-blue/
Author: Incomda Corporation
Author URI: https://webs.incomda.com
Description: Our 2019 default theme is designed to show off the power of the block editor. It features custom styles for all the default blocks, and is built so that what you see in the editor looks like what you'll see on your website. Incomda Theme is designed to be adaptable to a wide range of websites, whether you’re running a photo blog, launching a new business, or supporting a non-profit. Featuring ample whitespace and modern sans-serif headlines paired with classic serif body text, it's built to be beautiful on all screen sizes.
Requires at least: WordPress 4.9.6
Version: 1.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: incomda
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* Content */
@font-face {
  font-family: 'Elusive-Icons';
  src: url("fonts/elusiveicons-webfont.eot?v=2.0.0");
  src: url("fonts/elusiveicons-webfont.eot?#iefix&v=2.0.0") format("embedded-opentype"), url("fonts/elusiveicons-webfont.woff?v=2.0.0") format("woff"), url("fonts/elusiveicons-webfont.ttf?v=2.0.0") format("truetype"), url("fonts/elusiveicons-webfont.svg?v=2.0.0#elusiveiconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.el {
  display: inline-block;
  font: normal normal normal 14px/1 'Elusive-Icons';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

.el-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%; }

.el-2x {
  font-size: 2em; }

.el-3x {
  font-size: 3em; }

.el-4x {
  font-size: 4em; }

.el-5x {
  font-size: 5em; }

.el-fw {
  width: 1.28571429em;
  text-align: center; }

.el-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }

.el-ul > li {
  position: relative; }

.el-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center; }

.el-li.el-lg {
  left: -1.85714286em; }

.el-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.el.pull-left {
  margin-right: .3em; }

.el.pull-right {
  margin-left: .3em; }

.el-spin {
  -webkit-animation: el-spin 2s infinite linear;
  animation: el-spin 2s infinite linear; }

.el-pulse {
  -webkit-animation: el-spin 1s infinite steps(8);
  animation: el-spin 1s infinite steps(8); }

@-webkit-keyframes el-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes el-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.el-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.el-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.el-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.el-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.el-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .el-rotate-90, :root .el-rotate-180, :root .el-rotate-270, :root .el-flip-horizontal, :root .el-flip-vertical {
  filter: none; }

.el-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.el-stack-1x, .el-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.el-stack-1x {
  line-height: inherit; }

.el-stack-2x {
  font-size: 2em; }

.el-inverse {
  color: #fff; }

.el-address-book-alt:before {
  content: "\f101"; }

.el-address-book:before {
  content: "\f102"; }

.el-adjust-alt:before {
  content: "\f103"; }

.el-adjust:before {
  content: "\f104"; }

.el-adult:before {
  content: "\f105"; }

.el-align-center:before {
  content: "\f106"; }

.el-align-justify:before {
  content: "\f107"; }

.el-align-left:before {
  content: "\f108"; }

.el-align-right:before {
  content: "\f109"; }

.el-arrow-down:before {
  content: "\f10a"; }

.el-arrow-left:before {
  content: "\f10b"; }

.el-arrow-right:before {
  content: "\f10c"; }

.el-arrow-up:before {
  content: "\f10d"; }

.el-asl:before {
  content: "\f10e"; }

.el-asterisk:before {
  content: "\f10f"; }

.el-backward:before {
  content: "\f110"; }

.el-ban-circle:before {
  content: "\f111"; }

.el-barcode:before {
  content: "\f112"; }

.el-behance:before {
  content: "\f113"; }

.el-bell:before {
  content: "\f114"; }

.el-blind:before {
  content: "\f115"; }

.el-blogger:before {
  content: "\f116"; }

.el-bold:before {
  content: "\f117"; }

.el-book:before {
  content: "\f118"; }

.el-bookmark-empty:before {
  content: "\f119"; }

.el-bookmark:before {
  content: "\f11a"; }

.el-braille:before {
  content: "\f11b"; }

.el-briefcase:before {
  content: "\f11c"; }

.el-broom:before {
  content: "\f11d"; }

.el-brush:before {
  content: "\f11e"; }

.el-bulb:before {
  content: "\f11f"; }

.el-bullhorn:before {
  content: "\f120"; }

.el-calendar-sign:before {
  content: "\f121"; }

.el-calendar:before {
  content: "\f122"; }

.el-camera:before {
  content: "\f123"; }

.el-car:before {
  content: "\f124"; }

.el-caret-down:before {
  content: "\f125"; }

.el-caret-left:before {
  content: "\f126"; }

.el-caret-right:before {
  content: "\f127"; }

.el-caret-up:before {
  content: "\f128"; }

.el-cc:before {
  content: "\f129"; }

.el-certificate:before {
  content: "\f12a"; }

.el-check-empty:before {
  content: "\f12b"; }

.el-check:before {
  content: "\f12c"; }

.el-chevron-down:before {
  content: "\f12d"; }

.el-chevron-left:before {
  content: "\f12e"; }

.el-chevron-right:before {
  content: "\f12f"; }

.el-chevron-up:before {
  content: "\f130"; }

.el-child:before {
  content: "\f131"; }

.el-circle-arrow-down:before {
  content: "\f132"; }

.el-circle-arrow-left:before {
  content: "\f133"; }

.el-circle-arrow-right:before {
  content: "\f134"; }

.el-circle-arrow-up:before {
  content: "\f135"; }

.el-cloud-alt:before {
  content: "\f136"; }

.el-cloud:before {
  content: "\f137"; }

.el-cog-alt:before {
  content: "\f138"; }

.el-cog:before {
  content: "\f139"; }

.el-cogs:before {
  content: "\f13a"; }

.el-comment-alt:before {
  content: "\f13b"; }

.el-comment:before {
  content: "\f13c"; }

.el-compass-alt:before {
  content: "\f13d"; }

.el-compass:before {
  content: "\f13e"; }

.el-credit-card:before {
  content: "\f13f"; }

.el-css:before {
  content: "\f140"; }

.el-dashboard:before {
  content: "\f141"; }

.el-delicious:before {
  content: "\f142"; }

.el-deviantart:before {
  content: "\f143"; }

.el-digg:before {
  content: "\f144"; }

.el-download-alt:before {
  content: "\f145"; }

.el-download:before {
  content: "\f146"; }

.el-dribbble:before {
  content: "\f147"; }

.el-edit:before {
  content: "\f148"; }

.el-eject:before {
  content: "\f149"; }

.el-envelope-alt:before {
  content: "\f14a"; }

.el-envelope:before {
  content: "\f14b"; }

.el-error-alt:before {
  content: "\f14c"; }

.el-error:before {
  content: "\f14d"; }

.el-eur:before {
  content: "\f14e"; }

.el-exclamation-sign:before {
  content: "\f14f"; }

.el-eye-close:before {
  content: "\f150"; }

.el-eye-open:before {
  content: "\f151"; }

.el-facebook:before {
  content: "\f152"; }

.el-facetime-video:before {
  content: "\f153"; }

.el-fast-backward:before {
  content: "\f154"; }

.el-fast-forward:before {
  content: "\f155"; }

.el-female:before {
  content: "\f156"; }

.el-file-alt:before {
  content: "\f157"; }

.el-file-edit-alt:before {
  content: "\f158"; }

.el-file-edit:before {
  content: "\f159"; }

.el-file-new-alt:before {
  content: "\f15a"; }

.el-file-new:before {
  content: "\f15b"; }

.el-file:before {
  content: "\f15c"; }

.el-film:before {
  content: "\f15d"; }

.el-filter:before {
  content: "\f15e"; }

.el-fire:before {
  content: "\f15f"; }

.el-flag-alt:before {
  content: "\f160"; }

.el-flag:before {
  content: "\f161"; }

.el-flickr:before {
  content: "\f162"; }

.el-folder-close:before {
  content: "\f163"; }

.el-folder-open:before {
  content: "\f164"; }

.el-folder-sign:before {
  content: "\f165"; }

.el-folder:before {
  content: "\f166"; }

.el-font:before {
  content: "\f167"; }

.el-fontsize:before {
  content: "\f168"; }

.el-fork:before {
  content: "\f169"; }

.el-forward-alt:before {
  content: "\f16a"; }

.el-forward:before {
  content: "\f16b"; }

.el-foursquare:before {
  content: "\f16c"; }

.el-friendfeed-rect:before {
  content: "\f16d"; }

.el-friendfeed:before {
  content: "\f16e"; }

.el-fullscreen:before {
  content: "\f16f"; }

.el-gbp:before {
  content: "\f170"; }

.el-gift:before {
  content: "\f171"; }

.el-github-text:before {
  content: "\f172"; }

.el-github:before {
  content: "\f173"; }

.el-glass:before {
  content: "\f174"; }

.el-glasses:before {
  content: "\f175"; }

.el-globe-alt:before {
  content: "\f176"; }

.el-globe:before {
  content: "\f177"; }

.el-googleplus:before {
  content: "\f178"; }

.el-graph-alt:before {
  content: "\f179"; }

.el-graph:before {
  content: "\f17a"; }

.el-group-alt:before {
  content: "\f17b"; }

.el-group:before {
  content: "\f17c"; }

.el-guidedog:before {
  content: "\f17d"; }

.el-hand-down:before {
  content: "\f17e"; }

.el-hand-left:before {
  content: "\f17f"; }

.el-hand-right:before {
  content: "\f180"; }

.el-hand-up:before {
  content: "\f181"; }

.el-hdd:before {
  content: "\f182"; }

.el-headphones:before {
  content: "\f183"; }

.el-hearing-impaired:before {
  content: "\f184"; }

.el-heart-alt:before {
  content: "\f185"; }

.el-heart-empty:before {
  content: "\f186"; }

.el-heart:before {
  content: "\f187"; }

.el-home-alt:before {
  content: "\f188"; }

.el-home:before {
  content: "\f189"; }

.el-hourglass:before {
  content: "\f18a"; }

.el-idea-alt:before {
  content: "\f18b"; }

.el-idea:before {
  content: "\f18c"; }

.el-inbox-alt:before {
  content: "\f18d"; }

.el-inbox-box:before {
  content: "\f18e"; }

.el-inbox:before {
  content: "\f18f"; }

.el-indent-left:before {
  content: "\f190"; }

.el-indent-right:before {
  content: "\f191"; }

.el-info-circle:before {
  content: "\f192"; }

.el-instagram:before {
  content: "\f193"; }

.el-iphone-home:before {
  content: "\f194"; }

.el-italic:before {
  content: "\f195"; }

.el-key:before {
  content: "\f196"; }

.el-laptop-alt:before {
  content: "\f197"; }

.el-laptop:before {
  content: "\f198"; }

.el-lastfm:before {
  content: "\f199"; }

.el-leaf:before {
  content: "\f19a"; }

.el-lines:before {
  content: "\f19b"; }

.el-link:before {
  content: "\f19c"; }

.el-linkedin:before {
  content: "\f19d"; }

.el-list-alt:before {
  content: "\f19e"; }

.el-list:before {
  content: "\f19f"; }

.el-livejournal:before {
  content: "\f1a0"; }

.el-lock-alt:before {
  content: "\f1a1"; }

.el-lock:before {
  content: "\f1a2"; }

.el-magic:before {
  content: "\f1a3"; }

.el-magnet:before {
  content: "\f1a4"; }

.el-male:before {
  content: "\f1a5"; }

.el-map-marker-alt:before {
  content: "\f1a6"; }

.el-map-marker:before {
  content: "\f1a7"; }

.el-mic-alt:before {
  content: "\f1a8"; }

.el-mic:before {
  content: "\f1a9"; }

.el-minus-sign:before {
  content: "\f1aa"; }

.el-minus:before {
  content: "\f1ab"; }

.el-move:before {
  content: "\f1ac"; }

.el-music:before {
  content: "\f1ad"; }

.el-myspace:before {
  content: "\f1ae"; }

.el-network:before {
  content: "\f1af"; }

.el-off:before {
  content: "\f1b0"; }

.el-ok-circle:before {
  content: "\f1b1"; }

.el-ok-sign:before {
  content: "\f1b2"; }

.el-ok:before {
  content: "\f1b3"; }

.el-opensource:before {
  content: "\f1b4"; }

.el-paper-clip-alt:before {
  content: "\f1b5"; }

.el-paper-clip:before {
  content: "\f1b6"; }

.el-path:before {
  content: "\f1b7"; }

.el-pause-alt:before {
  content: "\f1b8"; }

.el-pause:before {
  content: "\f1b9"; }

.el-pencil-alt:before {
  content: "\f1ba"; }

.el-pencil:before {
  content: "\f1bb"; }

.el-person:before {
  content: "\f1bc"; }

.el-phone-alt:before {
  content: "\f1bd"; }

.el-phone:before {
  content: "\f1be"; }

.el-photo-alt:before {
  content: "\f1bf"; }

.el-photo:before {
  content: "\f1c0"; }

.el-picasa:before {
  content: "\f1c1"; }

.el-picture:before {
  content: "\f1c2"; }

.el-pinterest:before {
  content: "\f1c3"; }

.el-plane:before {
  content: "\f1c4"; }

.el-play-alt:before {
  content: "\f1c5"; }

.el-play-circle:before {
  content: "\f1c6"; }

.el-play:before {
  content: "\f1c7"; }

.el-plurk-alt:before {
  content: "\f1c8"; }

.el-plurk:before {
  content: "\f1c9"; }

.el-plus-sign:before {
  content: "\f1ca"; }

.el-plus:before {
  content: "\f1cb"; }

.el-podcast:before {
  content: "\f1cc"; }

.el-print:before {
  content: "\f1cd"; }

.el-puzzle:before {
  content: "\f1ce"; }

.el-qrcode:before {
  content: "\f1cf"; }

.el-question-sign:before {
  content: "\f1d0"; }

.el-question:before {
  content: "\f1d1"; }

.el-quote-alt:before {
  content: "\f1d2"; }

.el-quote-right-alt:before {
  content: "\f1d3"; }

.el-quote-right:before {
  content: "\f1d4"; }

.el-quotes:before {
  content: "\f1d5"; }

.el-random:before {
  content: "\f1d6"; }

.el-record:before {
  content: "\f1d7"; }

.el-reddit:before {
  content: "\f1d8"; }

.el-redux:before {
  content: "\f1d9"; }

.el-refresh:before {
  content: "\f1da"; }

.el-remove-circle:before {
  content: "\f1db"; }

.el-remove-sign:before {
  content: "\f1dc"; }

.el-remove:before {
  content: "\f1dd"; }

.el-repeat-alt:before {
  content: "\f1de"; }

.el-repeat:before {
  content: "\f1df"; }

.el-resize-full:before {
  content: "\f1e0"; }

.el-resize-horizontal:before {
  content: "\f1e1"; }

.el-resize-small:before {
  content: "\f1e2"; }

.el-resize-vertical:before {
  content: "\f1e3"; }

.el-return-key:before {
  content: "\f1e4"; }

.el-retweet:before {
  content: "\f1e5"; }

.el-reverse-alt:before {
  content: "\f1e6"; }

.el-road:before {
  content: "\f1e7"; }

.el-rss:before {
  content: "\f1e8"; }

.el-scissors:before {
  content: "\f1e9"; }

.el-screen-alt:before {
  content: "\f1ea"; }

.el-screen:before {
  content: "\f1eb"; }

.el-screenshot:before {
  content: "\f1ec"; }

.el-search-alt:before {
  content: "\f1ed"; }

.el-search:before {
  content: "\f1ee"; }

.el-share-alt:before {
  content: "\f1ef"; }

.el-share:before {
  content: "\f1f0"; }

.el-shopping-cart-sign:before {
  content: "\f1f1"; }

.el-shopping-cart:before {
  content: "\f1f2"; }

.el-signal:before {
  content: "\f1f3"; }

.el-skype:before {
  content: "\f1f4"; }

.el-slideshare:before {
  content: "\f1f5"; }

.el-smiley-alt:before {
  content: "\f1f6"; }

.el-smiley:before {
  content: "\f1f7"; }

.el-soundcloud:before {
  content: "\f1f8"; }

.el-speaker:before {
  content: "\f1f9"; }

.el-spotify:before {
  content: "\f1fa"; }

.el-stackoverflow:before {
  content: "\f1fb"; }

.el-star-alt:before {
  content: "\f1fc"; }

.el-star-empty:before {
  content: "\f1fd"; }

.el-star:before {
  content: "\f1fe"; }

.el-step-backward:before {
  content: "\f1ff"; }

.el-step-forward:before {
  content: "\f200"; }

.el-stop-alt:before {
  content: "\f201"; }

.el-stop:before {
  content: "\f202"; }

.el-stumbleupon:before {
  content: "\f203"; }

.el-tag:before {
  content: "\f204"; }

.el-tags:before {
  content: "\f205"; }

.el-tasks:before {
  content: "\f206"; }

.el-text-height:before {
  content: "\f207"; }

.el-text-width:before {
  content: "\f208"; }

.el-th-large:before {
  content: "\f209"; }

.el-th-list:before {
  content: "\f20a"; }

.el-th:before {
  content: "\f20b"; }

.el-thumbs-down:before {
  content: "\f20c"; }

.el-thumbs-up:before {
  content: "\f20d"; }

.el-time-alt:before {
  content: "\f20e"; }

.el-time:before {
  content: "\f20f"; }

.el-tint:before {
  content: "\f210"; }

.el-torso:before {
  content: "\f211"; }

.el-trash-alt:before {
  content: "\f212"; }

.el-trash:before {
  content: "\f213"; }

.el-tumblr:before {
  content: "\f214"; }

.el-twitter:before {
  content: "\f215"; }

.el-universal-access:before {
  content: "\f216"; }

.el-unlock-alt:before {
  content: "\f217"; }

.el-unlock:before {
  content: "\f218"; }

.el-upload:before {
  content: "\f219"; }

.el-usd:before {
  content: "\f21a"; }

.el-user:before {
  content: "\f21b"; }

.el-viadeo:before {
  content: "\f21c"; }

.el-video-alt:before {
  content: "\f21d"; }

.el-video-chat:before {
  content: "\f21e"; }

.el-video:before {
  content: "\f21f"; }

.el-view-mode:before {
  content: "\f220"; }

.el-vimeo:before {
  content: "\f221"; }

.el-vkontakte:before {
  content: "\f222"; }

.el-volume-down:before {
  content: "\f223"; }

.el-volume-off:before {
  content: "\f224"; }

.el-volume-up:before {
  content: "\f225"; }

.el-w3c:before {
  content: "\f226"; }

.el-warning-sign:before {
  content: "\f227"; }

.el-website-alt:before {
  content: "\f228"; }

.el-website:before {
  content: "\f229"; }

.el-wheelchair:before {
  content: "\f22a"; }

.el-wordpress:before {
  content: "\f22b"; }

.el-wrench-alt:before {
  content: "\f22c"; }

.el-wrench:before {
  content: "\f22d"; }

.el-youtube:before {
  content: "\f22e"; }

.el-zoom-in:before {
  content: "\f22f"; }

.el-zoom-out:before {
  content: "\f230"; }

a {
  text-decoration: none !important; }

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
  display: flow-root; }

.nav-container {
  position: relative; }
  .nav-container .navbar-sticky {
    width: 100%; }

#searchModal .modal-dialog {
  height: 90%;
  position: relative; }
  #searchModal .modal-dialog .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 0;
    background: transparent !important; }
    #searchModal .modal-dialog .modal-content input[type=text] {
      margin: 0;
      border: 0;
      background: transparent !important;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      line-height: 1;
      min-width: 0;
      font-size: 15px;
      -webkit-appearance: none;
      font-size: 50px;
      text-align: center;
      border-style: solid;
      border-width: 0 0 1px;
      border-color: #fff;
      line-height: 1.5;
      color: #fff; }

.site-branding-container {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  background-color: transparent;
  z-index: 9;
  width: 100%;
  position: absolute; }
  .site-branding-container.sticky {
    position: fixed; }
  .site-branding-container .site-branding {
    display: flex; }
    .site-branding-container .site-branding > * {
      padding-left: 0;
      padding-right: 0; }
    .site-branding-container .site-branding .site-logo {
      display: flex;
      align-items: center; }
    .site-branding-container .site-branding ul.main-menu {
      margin-left: auto;
      display: table;
      margin-bottom: 0; }
      .site-branding-container .site-branding ul.main-menu > li {
        display: inline-flex;
        list-style-type: none; }
        .site-branding-container .site-branding ul.main-menu > li.current-menu-item > a, .site-branding-container .site-branding ul.main-menu > li:hover > a {
          color: #000; }
        .site-branding-container .site-branding ul.main-menu > li > a {
          padding: 30px 20px;
          color: #fff;
          text-decoration: none; }
      .site-branding-container .site-branding ul.main-menu a {
        font-size: 17px;
        font-weight: 700; }
      .site-branding-container .site-branding ul.main-menu li.button-premium {
        padding-left: 50px;
        padding-right: 50px; }
        .site-branding-container .site-branding ul.main-menu li.button-premium a {
          padding: 12px 50px;
          transition: all 0.2s ease;
          border-radius: 100px;
          background: linear-gradient(to left, rgba(0, 105, 204, 0.92) 50%, #000000 50%);
          background-size: 200% 100%;
          background-position: right bottom;
          color: #fff !important; }
          .site-branding-container .site-branding ul.main-menu li.button-premium a:hover {
            background-position: left bottom; }

.site-branding-container-hidden .site-branding {
  display: flex; }
  .site-branding-container-hidden .site-branding .site-logo {
    display: flex; }
  .site-branding-container-hidden .site-branding ul.main-menu {
    margin-left: auto;
    display: table;
    margin-bottom: 0; }
    .site-branding-container-hidden .site-branding ul.main-menu > li {
      display: inline-flex;
      list-style-type: none; }
    .site-branding-container-hidden .site-branding ul.main-menu a {
      font-size: 17px;
      font-weight: 700; }
    .site-branding-container-hidden .site-branding ul.main-menu li.button-premium {
      padding-left: 50px;
      padding-right: 50px; }
      .site-branding-container-hidden .site-branding ul.main-menu li.button-premium a {
        padding: 12px 50px;
        transition: all 0.2s ease;
        border-radius: 100px;
        background: linear-gradient(to left, rgba(0, 105, 204, 0.92) 50%, #000000 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        color: #fff !important; }
        .site-branding-container-hidden .site-branding ul.main-menu li.button-premium a:hover {
          background-position: left bottom; }

.site-branding-container-hidden .site-branding {
  visibility: hidden; }

.site-top-bar-container {
  display: -webkit-box;
  z-index: 9;
  position: relative;
  background-color: #ffffff; }

.site-top-bar {
  color: #000000;
  font-weight: 500;
  font-size: 16px; }
  .site-top-bar .left-items > span {
    padding: 10px 30px;
    border-left: 1px solid #dbdbdb;
    display: -webkit-inline-box; }
    .site-top-bar .left-items > span:first-child {
      padding-left: 0;
      border-left: 0; }
    .site-top-bar .left-items > span i {
      font-size: 17px; }
  .site-top-bar .social-network .item {
    padding: 8px; }
    .site-top-bar .social-network .item i {
      color: #000000; }
  .site-top-bar .right-items .premium-button {
    padding: 10px 40px;
    border: 1px solid #ddae40;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px; }
    .site-top-bar .right-items .premium-button:hover {
      background-color: transparent;
      color: #000; }

.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .navbar-toggle:focus {
    outline: unset; }

.main-navigation {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }
  .main-navigation a {
    text-decoration: none; }
  .main-navigation .menu-main-menu-container, .main-navigation .main-menu {
    width: 100%; }
  .main-navigation .main-menu {
    list-style-type: none; }
    .main-navigation .main-menu .menu-item {
      display: inline-block; }
      .main-navigation .main-menu .menu-item:not(.menu-item-has-children) > a .sub-arrow {
        display: none; }
      .main-navigation .main-menu .menu-item .sub-arrow {
        font-size: 16px;
        line-height: 1;
        padding: 10px 0 10px 10px; }
        .main-navigation .main-menu .menu-item .sub-arrow i {
          pointer-events: none; }
    .main-navigation .main-menu a {
      color: #262a2b;
      font-size: 14px;
      font-weight: 600; }
    .main-navigation .main-menu > li > a {
      color: #262a2b;
      padding: 40px 20px;
      position: relative; }
      .main-navigation .main-menu > li > a:after {
        background-color: #ffffff;
        content: ' ';
        height: 3px;
        width: 100%;
        left: 0;
        bottom: 0;
        opacity: 0;
        display: block;
        position: absolute;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
        -o-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
        transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1); }
    .main-navigation .main-menu > li:hover:after {
      opacity: 1; }
    .main-navigation .main-menu .button-search {
      float: right;
      display: inline-block !important;
      padding: 24px 0; }
      .main-navigation .main-menu .button-search i {
        font-size: 25px; }

.main-navigation .main-menu ul {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  background: #fff;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 77px;
  padding-left: 0;
  margin: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  min-width: 225px;
  z-index: 99; }

.main-navigation .main-menu ul ul {
  left: 100%;
  top: 0; }

.main-navigation .main-menu li li, .main-navigation-mobile .main-menu li li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  width: 100%;
  letter-spacing: -0.5px; }

.main-navigation .main-menu li {
  position: relative;
  margin: 0;
  text-align: left;
  list-style: none; }

.main-navigation .main-menu li li a, .main-navigation-mobile .main-menu li li a {
  color: #4b4e53;
  display: block;
  min-width: 180px;
  padding: 13px 13px 13px 35px;
  text-decoration: none;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  outline: none;
  position: relative; }

.main-navigation .main-menu li:hover > ul, .main-navigation .main-menu li:focus > ul, .main-navigation-mobile .main-menu li:hover > ul, .main-navigation-mobile .main-menu li:focus > ul {
  border-left: 0;
  clip: inherit;
  pointer-events: inherit;
  visibility: visible;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1; }

#cshero-menu-mobile .icon_menu {
  float: left;
  display: block;
  position: relative; }
  #cshero-menu-mobile .icon_menu .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all 0.2s;
    transform-origin: 10% 10%;
    background-color: #fff;
    transform: rotate(0);
    margin-top: 7.5px;
    margin-left: 10px;
    margin-right: 10px; }
    #cshero-menu-mobile .icon_menu .icon-bar + .icon-bar {
      margin-top: 4px; }

#cshero-menu-mobile button[aria-expanded=true] .icon-bar.top-bar {
  transform: rotate(45deg); }

#cshero-menu-mobile button[aria-expanded=true] .icon-bar.bottom-bar {
  transform: rotate(-45deg);
  margin-left: 9px; }

#cshero-menu-mobile button[aria-expanded=true] .icon-bar.middle-bar {
  opacity: 0; }

#cshero-menu-mobile .text {
  color: #fff;
  float: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  padding: 7px 15px 0 0; }

.main-navigation-mobile {
  display: -webkit-box;
  background-color: #565a60;
  width: 100%; }
  .main-navigation-mobile a {
    text-decoration: none; }
  .main-navigation-mobile .menu-main-menu-container {
    width: 100%; }
  .main-navigation-mobile .main-menu {
    list-style-type: none; }
    .main-navigation-mobile .main-menu .menu-item {
      display: block; }
      .main-navigation-mobile .main-menu .menu-item:not(.menu-item-has-children) > a .sub-arrow {
        display: none; }
      .main-navigation-mobile .main-menu .menu-item .sub-arrow {
        font-size: 16px;
        line-height: 1;
        padding: 10px 0 10px 10px; }
        .main-navigation-mobile .main-menu .menu-item .sub-arrow i {
          pointer-events: none; }
    .main-navigation-mobile .main-menu a {
      color: #fff;
      font-size: 14px;
      font-weight: 600; }
    .main-navigation-mobile .main-menu > li > a {
      color: #fff;
      position: relative; }
    .main-navigation-mobile .main-menu a {
      font-size: 16px;
      font-weight: 600; }
    .main-navigation-mobile .main-menu li.button-premium a {
      padding: 12px 50px;
      transition: all 0.2s ease;
      border-radius: 100px;
      background: linear-gradient(to left, rgba(0, 105, 204, 0.92) 50%, #000000 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      color: #fff !important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      display: block;
      text-align: center; }
      .main-navigation-mobile .main-menu li.button-premium a:hover {
        background-position: left bottom; }
  .main-navigation-mobile .button-search {
    padding: 15px 0; }
    .main-navigation-mobile .button-search form {
      display: flex; }
    .main-navigation-mobile .button-search input[type="text"] {
      width: calc(100% - 78px);
      border-radius: 0;
      color: #565a60;
      line-height: 21px;
      height: 45px;
      padding: 8px;
      border: none;
      font-size: 14px;
      font-weight: 300;
      float: left; }
    .main-navigation-mobile .button-search input[type="submit"] {
      background: #ffea00;
      border: medium none;
      color: #565a60;
      font-size: 14px;
      height: 45px;
      padding-left: 15px;
      padding-right: 15px;
      right: 15px;
      bottom: 31px;
      float: left;
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 !important * 100)";
      -webkit-opacity: 1 !important;
      -khtml-opacity: 1 !important;
      -moz-opacity: 1 !important;
      -ms-opacity: 1 !important;
      -o-opacity: 1 !important;
      opacity: 1 !important;
      -webkit-transition: all 0.3s ease 0s;
      -khtml-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      border-radius: 0;
      width: auto !important;
      z-index: 20; }
  .main-navigation-mobile li {
    list-style-type: none; }
  .main-navigation-mobile .main-menu {
    padding-right: 15px;
    padding-left: 15px; }
    .main-navigation-mobile .main-menu > li:not(:last-child) {
      float: none;
      list-style: none;
      margin: 0 0 3px;
      text-align: left;
      position: relative; }
      .main-navigation-mobile .main-menu > li:not(:last-child) > a {
        background: #565a60;
        display: block;
        border: none;
        font-weight: 300;
        margin: 0;
        line-height: 30px !important;
        padding: 7px 9px 7px 60px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        height: 45px;
        color: #fff;
        text-transform: uppercase; }
        .main-navigation-mobile .main-menu > li:not(:last-child) > a:before {
          content: "";
          font-size: 28px;
          left: 14px;
          position: absolute;
          top: 0px;
          left: 0;
          color: #565a60;
          background: #fff;
          width: 45px;
          height: 45px;
          line-height: 45px;
          text-align: center; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu {
    background: #fff;
    box-shadow: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100% !important;
    padding: 0 0 5px 30px; }
    .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu li {
      border-top: 1px solid #dfe2e3; }
      .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu li a {
        font-size: 14px;
        line-height: 22px;
        color: #7f7f7f;
        padding: 10px 10px 10px 0 !important;
        display: block; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu {
    padding: 0 0 5px 90px; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu .cs-menu-toggle {
    display: none; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu:nth-child(1) > li:nth-child(1) {
    border-top: 0; }
  .main-navigation-mobile .main-menu > li:not(:last-child) .cs-menu-toggle {
    display: block;
    left: 14px;
    position: absolute;
    top: 0px;
    left: 0;
    cursor: pointer; }
    .main-navigation-mobile .main-menu > li:not(:last-child) .cs-menu-toggle span {
      display: block !important;
      color: #565a60;
      background: #fff;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center; }
      .main-navigation-mobile .main-menu > li:not(:last-child) .cs-menu-toggle span:before {
        content: "+";
        font-size: 28px; }
  .main-navigation-mobile .main-menu > li:not(.menu-item-has-children):not(:last-child) .cs-menu-toggle span:before {
    display: none; }

.main-navigation-mobile .main-menu li li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  width: 100%;
  letter-spacing: -0.5px; }

.main-navigation-mobile .main-menu li li a {
  color: #4b4e53;
  display: block;
  min-width: 180px;
  padding: 13px 13px 13px 35px;
  text-decoration: none;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  outline: none;
  position: relative; }

.main-navigation-mobile .main-menu li:hover > ul, .main-navigation-mobile .main-menu li:focus > ul {
  border-left: 0;
  clip: inherit;
  pointer-events: inherit;
  visibility: visible;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
footer {
  color: #000000;
  font-size: 16px;
  font-weight: 300; }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
  footer .powered {
    margin-left: 10px;
    font-size: 10px; }
    footer .powered:hover {
      text-decoration: none;
      color: #333c4e; }
  footer .widget-title {
    font-family: "Roboto", "Work Sans";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; }
  footer .wpcf7-text {
    border: 1px solid #c9c9c9;
    color: #7a7a7a;
    padding: 5px 14px;
    width: 100%;
    outline: none;
    font-size: 13px; }
  footer .wpcf7-form-control {
    margin-bottom: 10px; }
  footer .wpcf7-submit {
    outline: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4.9px;
    padding: 12px 24px;
    width: 100%;
    -webkit-appearance: meter;
    color: #fff;
    transition: all .5s; }
    footer .wpcf7-submit:hover {
      background-color: #0069cc; }
  footer .widget-column > .widget > *:first-child {
    margin-bottom: 20px;
    display: block; }
  footer .footer-widgets i {
    margin-right: 10px; }
  footer a {
    color: #333c4e;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none; }
    footer a.tag-cloud-link {
      font-size: 15px !important; }
    footer a.imprint {
      font-size: 9px;
      color: #ccc;
      text-align: center; }
  footer .footer-widgets {
    padding: 90px 0 40px 0;
    border-bottom: 1px solid #e2e2e2;
    display: -webkit-inline-box;
    flex-flow: row wrap;
    width: 100%; }
    footer .footer-widgets .widget-area {
      display: flex;
      flex-flow: column; }
  footer .site-info .container {
    margin-top: 45px;
    margin-bottom: 45px; }
  footer .site-info span {
    display: -webkit-inline-box;
    font-size: 13px;
    font-weight: 300;
    color: #6075a0; }
    footer .site-info span .item {
      padding-left: 12px;
      padding-right: 12px; }

@media screen and (max-width: 768px) {
  footer .site-info span {
    border: none;
    margin-top: 15px;
    width: 100%;
    float: none !important;
    text-align: center;
    display: block; } }

.content-area {
  width: 100%; }

.site-title {
  padding: 20px 0; }
  .site-title .entry-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 20px; }

.single .site-title {
  background-color: unset; }
  .single .site-title * {
    padding-left: 0; }

.blog-grid {
  margin-top: 40px; }
  .blog-grid .blog-article {
    margin-bottom: 28px;
    word-break: break-all;
    padding-left: 0;
    padding-right: 0; }
    .blog-grid .blog-article article {
      transition: all .3s;
      text-align: left; }
    .blog-grid .blog-article .post-thumbnail {
      margin-bottom: 0;
      background-color: rgba(0, 105, 204, 0.92);
      height: 254px; }
    .blog-grid .blog-article .entry img {
      max-width: 100%;
      vertical-align: middle;
      height: 254px;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
    .blog-grid .blog-article .article-container {
      padding: 36px 40px 42px;
      background: #fff;
      border: 1px solid rgba(0, 105, 204, 0.92);
      border-top: none !important; }
      .blog-grid .blog-article .article-container .entry-header {
        position: relative;
        padding-bottom: 10px;
        height: 57px; }
        .blog-grid .blog-article .article-container .entry-header:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 60px; }
        .blog-grid .blog-article .article-container .entry-header .entry-title {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          /* number of lines to show */
          line-height: 24px;
          /* fallback */
          height: 24px; }
      .blog-grid .blog-article .article-container .entry-title {
        margin: 0 0 3px;
        text-transform: uppercase;
        font-size: 15px;
        color: #2e3031;
        letter-spacing: .1em;
        line-height: 1.6; }
      .blog-grid .blog-article .article-container .entry-meta {
        font-size: 13px;
        font-weight: 400;
        color: #999; }
        .blog-grid .blog-article .article-container .entry-meta a {
          color: #313131; }
    .blog-grid .blog-article .entry-content {
      margin-top: 6px;
      font-size: 13px; }
      .blog-grid .blog-article .entry-content:before {
        content: "";
        display: table;
        table-layout: fixed; }
      .blog-grid .blog-article .entry-content p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-height: 20px;
        /* fallback */
        height: 40px; }
    .blog-grid .blog-article .screen-reader-text {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      width: 1px;
      word-wrap: normal !important; }
    .blog-grid .blog-article .more-link:after {
      content: "\f12f";
      padding-left: 4px;
      display: inline-block;
      font: normal normal normal 14px/1 'Elusive-Icons';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 11px; }

.elementor .elementor-image-box-img img {
  width: 274px;
  object-fit: cover;
  height: 260px; }

@media (min-width: 769px) {
  .hidden-md {
    display: none !important; } }

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important; }
  .site-info {
    text-align: center; } }

/* Widgets */
body.sidebar-right + .site-content {
  display: -webkit-box; }

body.page-template-page-right-sidebar .content-area {
  display: -webkit-box; }

.sidebar-cols label {
  display: unset; }

.sidebar-cols .widget ul {
  padding-left: 0; }
  .sidebar-cols .widget ul li {
    list-style-type: none; }

.sidebar-cols .widget-title {
  color: #000;
  font-family: "Work Sans", Quicksand;
  font-size: 32px;
  font-weight: 700; }

.sidebar-cols .search-field {
  height: 45px;
  padding: 15px;
  margin: 0;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background-color: #eceeef;
  line-height: 1;
  min-width: 0;
  font-size: 15px;
  -webkit-appearance: none;
  color: #7a7a7a;
  width: calc(100% - 45px);
  float: left;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.sidebar-cols .search-submit {
  height: 45px;
  width: 45px;
  float: left;
  background-color: #54595f;
  font-size: 16px;
  color: #fff;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-appearance: button-bevel;
  border: 0; }

.sidebar-cols > section {
  display: inline-block;
  width: 100%; }
  .sidebar-cols > section:not(:first-child) {
    margin-top: 40px; }

.sidebar-cols .widget_nav_menu a {
  border: 1px solid #0069cc;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0069cc;
  padding: 15px 55px 15px 55px;
  text-decoration: none;
  transition: all 0.5s; }
  .sidebar-cols .widget_nav_menu a:hover {
    background-color: transparent;
    color: #0069cc; }

.sidebar-cols .widget_nav_menu li {
  display: flex;
  margin-top: 30px; }

@media (min-width: 769px) {
  .sidebar-cols {
    border-left: 1px solid #e9e9e9;
    padding-left: 40px;
    padding-top: 40px; } }

/*# sourceMappingURL=style.css.map */