body.sidebar-right + .site-content {
  display: -webkit-box;
}

body.page-template-page-right-sidebar .content-area {
  display: -webkit-box;
}

.sidebar-cols {

  label {
    display: unset;
  }

  .widget {
    ul {
      padding-left: 0;

      li {
        list-style-type: none;
      }
    }
  }

  .widget-title {
    color: #000;
    font-family: "Work Sans", Quicksand;
    font-size: 32px;
    font-weight: 700;
  }

  .search-field {
    height: 45px;
    padding: 15px;
    margin: 0;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background-color: #eceeef;
    line-height: 1;
    min-width: 0;
    font-size: 15px;
    -webkit-appearance: none;
    color: #7a7a7a;
    width: calc(100% - 45px);
    float: left;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;

  }

  .search-submit {
    height: 45px;
    width: 45px;
    float: left;
    background-color: #54595f;
    font-size: 16px;
    color: #fff;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-appearance: button-bevel;
    border: 0;
  }

  > section {
    display: inline-block;
    width: 100%;
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  .widget_nav_menu {
    a {
      border: 1px solid #0069cc;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      background-color: #0069cc;
      padding: 15px 55px 15px 55px;
      text-decoration: none;
      transition: all 0.5s;

      &:hover {
        background-color: transparent;
        color: #0069cc;
      }
    }

    li {
      display: flex;
      margin-top: 30px;
    }
  }
}

@media (min-width: 769px) {
  .sidebar-cols {
    border-left: 1px solid #e9e9e9;
    padding-left: 40px;
    padding-top: 40px;
  }
}
