footer {
  color: #000000;
  font-size: 16px;
  font-weight: 300;

  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .powered{
    margin-left: 10px;
    font-size: 10px;
    &:hover{
      text-decoration: none;
      color:#333c4e;
    }
  }
  .widget-title {
    font-family: "Roboto", "Work Sans";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .wpcf7-text {
    border: 1px solid #c9c9c9;
    color: #7a7a7a;
    padding: 5px 14px;
    width: 100%;
    outline: none;
    font-size: 13px;
  }

  .wpcf7-form-control {
    margin-bottom: 10px;
  }

  .wpcf7-submit {
    outline: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4.9px;
    padding: 12px 24px;
    width: 100%;
    -webkit-appearance: meter;
    color: #fff;
    transition: all .5s;
    &:hover {
      background-color: #0069cc;
    }
  }
  .widget-column > .widget > *:first-child {
    margin-bottom: 20px;
    display: block;
  }
  .footer-widgets i{
    margin-right: 10px;
  }
  a {
    color: #333c4e;

    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    &.tag-cloud-link{
      font-size: 15px!important;
    }
    &.imprint {
      font-size: 9px;
      color: #ccc;
      text-align: center;
    }
  }
  .footer-widgets {
    padding: 90px 0 40px 0;
    border-bottom: 1px solid #e2e2e2;
    display: -webkit-inline-box;
    flex-flow: row wrap;
    width: 100%;
    .widget-area {
      display: flex;
      flex-flow: column;
    }
  }

  .site-info {

    .container {
      margin-top: 45px;
      margin-bottom: 45px;
    }

    span {
      display: -webkit-inline-box;
      font-size: 13px;
      font-weight: 300;
      color: #6075a0;

      .item {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

}

@media screen and (max-width: 768px) {
  footer {
    .site-info {
      span {
        border: none;
        margin-top: 15px;
        width: 100%;
        float: none !important;
        text-align: center;
        display: block;

        .item {

        }
      }
    }
  }
}