body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Elusive-Icons';
  src: url(fonts/elusiveicons-webfont.ttf) format('truetype'), url(fonts/elusiveicons-webfont.eot), url(fonts/elusiveicons-webfont.svg) format('svg'), url(fonts/elusiveicons-webfont.woff);
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/site-header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/site-footer";


.site-content {
  display: -webkit-box;
}
.content-area{
  width:100%;
}


.blog-grid {
  margin-top: 40px;

  .blog-article {
    margin-bottom: 28px;
    word-break: break-all;

    article {
      transition: all .3s;
      text-align: left;
    }

    .post-thumbnail {
      margin-bottom: 0;
      background-color: rgba(0, 105, 204, 0.92);
      height: 254px;
    }

    .entry {
      img {
        max-width: 100%;
        vertical-align: middle;
        height: 254px;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
      }
    }

    .article-container {
      padding: 36px 40px 42px;
      background: #fff;
      border: 1px solid rgba(0, 105, 204, 0.92);
      border-top: none !important;

      .entry-header {
        position: relative;
        padding-bottom: 10px;
        height: 57px;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 60px;

        }

        .entry-title {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; /* number of lines to show */
          line-height: 24px; /* fallback */
          height: 24px;
        }
      }

      .entry-title {
        margin: 0 0 3px;
        text-transform: uppercase;
        font-size: 15px;
        color: #2e3031;
        letter-spacing: .1em;
        line-height: 1.6;
      }

      .entry-meta {
        font-size: 13px;
        font-weight: 400;
        color: #999;

        a {
          color: #313131;
        }
      }
    }

    .entry-content {
      margin-top: 6px;
      font-size: 13px;

      &:before {
        content: "";
        display: table;
        table-layout: fixed;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 20px; /* fallback */
        height: 40px;
      }
    }

    .screen-reader-text {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      width: 1px;
      word-wrap: normal !important;
    }

    .more-link:after {
      content: "\f12f";
      padding-left: 4px;
      display: inline-block;
      font: normal normal normal 14px/1 'Elusive-Icons';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 11px;
    }
  }
}

@media (min-width: 1024px) {
  .hidden-md {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hidden-sm {
    display: none;
  }
}

